header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "navigation logo address";
  align-items: center;
  margin-top: 88px;
  margin-bottom: 86px;
  padding-right: 50px;
  padding-left: 50px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
}
.header__menu {
  grid-area: navigation;
}


.header__address-list {
  padding-left: 184px;
}


.address-list {
  display: flex;
  flex-direction: column;
  grid-area: address;
  align-items: flex-start;
  gap: 1px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
   line-height: 24px;
  letter-spacing: 10%;
   list-style: none;
}
.address-underline {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  text-decoration: none;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 11px;
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  border-bottom: 0;
  text-decoration: none;
}

.header__menu-link {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
}

.no-marker {
  list-style: none;
}
.header__logo {
  display: block;
  grid-area: logo;
  width: 140px;
}
.header__logo-image {
  width: 100%;
}

/* Тонкий кастомный кружок */
.thin-circle::before {
  content: "○";
  margin-right: 0px;
  vertical-align: middle;
  font-size: 1em;
}


.cover {
  position: relative;
  display: block;
  width: 100%;
  min-height: 758px;
  margin-bottom: 189px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-heading {
  position: relative;
  z-index: 50;
  width: 100%;
  padding: 165px 50px 100px 50px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 132%;
  letter-spacing: 31px;
  text-transform: uppercase;
}
.fix_letter {
  letter-spacing: 0px;
}

.accent-span {
  display: block;
}
.aligned-text_middle {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.description {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
.description-text {
  padding-left: 50px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: uppercase;
  word-spacing: 18px;
}
.bet__button {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 32px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}
.lots {
  width: 100%;
  margin-bottom: 122px;
  padding-right: 24px;
  padding-left: 24px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}
.lots__main-heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.lots__card-list-item {
  position: relative;
  flex-grow: 1;
  flex-basis: 334px;
  width: 334px;
  min-height: 596px;
  text-decoration: none;
  list-style: none;
}
.card-link {
  height: 100%;
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__card-heading {
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}
.lots__card-description {
  z-index: 2;
  border-bottom: none;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}
.lots__more-inforamtion {
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;

  line-height: 100%;
  letter-spacing: 0%;
}
.about__auction {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows:auto;
  grid-template-areas:
    "logo-auction about__title"
    ". about__info";
  column-gap: 25px;
  width: 100%;
  /* min-height: 595px; */
  margin-bottom: 180px;
  padding-top: 37px;
  padding-right: 24px;
  padding-left: 24px;
}
.about__auction__pic {
  display: flex;
  grid-area: logo-auction;
  justify-content: center;
  align-items: center;
}
.about__auction__logo-background {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
}
.about__img {
  padding: 63px 46px;
}
.about__title {
  grid-area: about__title;
  align-content: center;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0%;
}
.about__info-paragraphs { 
  display: flex;
  flex-direction: column;
  grid-area: about__info;
  gap: 24px;
  margin-top: 5px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 50px;
  padding-bottom: 82px;
  padding-left: 50px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  list-style: none;
}
.footer__menu-item_active .footer__menu-link {
  border-bottom: 0;
  text-decoration: none;
}

.footer__menu-link {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
  list-style: none;
}
