header {
  display: grid;
  align-items: center;
  height: 293px;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "navigation logo address";
  padding-left: 50px;
  padding-right: 50px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
}
.header__menu {
  grid-area: navigation;
}
.header__logo {
  grid-area: logo;
}
.address {
  grid-area: address;

  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 6px;
}
.header__menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
  border-bottom: 0;
}

.header__menu-link {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

.no-marker {
  list-style: none;
}
.header__logo {
  display: block;
  width: 140px;
}
.header__logo-image {
  width: 100%;
}

/* Тонкий кастомный кружок */
.thin-circle::before {
  content: "○";
  font-size: 1em;
  margin-right: 0px;
  vertical-align: middle;
}
.header__address-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  padding-left: 184px;
  list-style: none;
  line-height: 24px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  min-height: 758px;
  position: relative;
  margin-bottom: 180px;
}

.header__address-underline {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

.cover-heading {
  padding: 165px 50px 106px 50px;
  width: 100%;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  color: rgba(255, 255, 255, 1);
  line-height: 132%;
  letter-spacing: 31px;
  text-transform: uppercase;
  z-index: 50;
  position: relative;
}
.fix_letter {
  letter-spacing: 0px;
}

.accent-span {
  display: block;
}
.cover-heading__second-word {
  text-align: center;
}
.cover-heading__third-word {
  text-align: right;
}
.description {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  margin-top: -7px;
}
.description-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding-left: 50px;
}
.bet__button {
  background: transparent;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 32px;
}
.lots {
  width: 100%;
  min-height: 723px;
  margin-bottom: 120px;
  padding-left: 24px;
  padding-right: 24px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-bottom: 30px;
}
.lots__main-heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}
.lots__card-list-item {
  text-decoration: none;
  list-style: none;
  width: 334px;
  min-height: 596px;
  position: relative;
  flex-grow: 1;
  flex-basis: 334px;
}
.card-link {
  height: 100%;
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 48px 40px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__card-heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}
.lots__card-description {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none !important;
  border-bottom: none !important;
  z-index: 2;
}
.lots__more-inforamtion {
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;

  line-height: 100%;
  letter-spacing: 0%;
}
.about__auction {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 595px;
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 310px auto;
  grid-template-areas:
    "logo-auction about__title"
    ". about__info";
  column-gap: 25px;
  margin-bottom: 180px;
}
.about__auction__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo-auction;
}
.about__auction__logo-background {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 100%;
}
.about__img {
  padding: 63px 46px;
}
.about__title {
  grid-area: about__title;
  align-content: center;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__info {
  grid-area: about__info;
  margin-top: -28px; /*расположение текста относительно лого, как в макете*/
}
.about__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.about__info-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer {
  min-height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 180px;
  padding-left: 50px;
  padding-right: 50px;
}
.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
}
.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
  border-bottom: 0;
}

.footer__menu-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 1px;
}
.footer__address-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  list-style: none;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;

  line-height: 23px;
  letter-spacing: 10%;
}
.footer__address-underline {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 1px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
.footer__social-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 48px;
  justify-content: end;
}
